<h1>Listing notices</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Name</th>
  </tr>

<% @notices.each do |notice| %>
  <tr>
    <td><%=h notice.id %></td>
    <td><%=h notice.title %></td>
    <td><%=h notice.name %></td>
    <td><%= link_to 'Show', notice %></td>
    <td><%= link_to 'Edit', edit_notice_path(notice) %></td>
    <td><%= link_to 'Destroy', notice, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%=will_paginate @notices, 
  :renderer => linker, 
  :perv_label => "Back", 
  :first_label => "Newest", 
  :last_label => "Oldest", 
  :total_label => "total ## pages"
%>
<br />

<%= link_to 'New notice', new_notice_path %>
