<p>
  <b>Id:</b>
  <%=h @notice.id %>
</p>

<p>
  <b>Title:</b>
  <%=h @notice.title %>
</p>

<p>
  <b>Name:</b>
  <%=h @notice.name %>
</p>


<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>